<div id="photo">
<div>

<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3" id="photo_text">

  <h1>Gramcrackr</h1>
  <h3><%= link_to "Log in with Instagram", '/auth/instagram' %></h3>
</div>
