<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <center>
      <div class='profile_pic'><%= image_tag(current_user.image) %></div>
      <h1><%= current_user.name %></h1>
      <%= link_to 'Log Out', logout_path %>
    </center>
  </div>

  <div class="col-md-9">

    <% @data.denver_pics(current_user.token)["data"].each do |val| %>
      <img src="<%= val['images']['low_resolution']['url'] %>">
    <% end %>

  </div>
</div>
