<!DOCTYPE html>
<html>
<head>
  <title>Something Broke!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>

  body {
    background-color: #FFFFFF;
  }

</head>

<body>
  <div class="error">
  </div>
  <img src="public/gram-error.png" alt="Something Broke!">
</body>
</html>
